<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Login</title>
        <style>
          h1{

color: brown;
text-align: center;
}
label{

color: #777;
width: 10%;
display: inline-block;

}
body{


background: lightgray;
margin: 0 auto;
font-family: arial;
}

#container{


padding: 40px;
width: 60%;
margin: 0 auto;
margin-top: 1%;
margin-bottom: 1%;
background-color:palevioletred;
}
.getinput{

padding-top: 7px;
padding-bottom: 7px;
padding-left: 5px;
padding-right: 5px;
margin-bottom: 30px;
text-align:center;

}

</style>
    </head>
    <body>
<form>
    <div id="container">
      <h1>Login Page</h1>
      <div class="getinput">
      <label for="userid"><b>Userid</b></label>
      <input type="text" placeholder="Enter Userid" name="userid" required>
      </div>
      <div class="getinput">
    <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
      </div>
      <div style="text-align:center">
      <button type="submit" class="registerbtn" style="background-color: green;">Login</button>
      </div>
    </div>
    
  </form>
  </body>
  </html>

